{% extends 'profile_templates/base.html' %}
{% load static %}
{% block content %}
    {{block.super}}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'profiles:index' %}" style="padding-left: 100px;">SnapLife</a>
            <div class="navbar-collapse collapse">
                <a href="{% url 'profiles:new_profile' %}" style="margin-right: 10px; color: white;">Edit Profile</a>
                <a href="{% url 'logout'%}" style="margin-right: 10px; color: white;">Logout</a>
            </div>
        </div>
    </nav>
    <div class="container" style="margin-top: 30px;">
        <hr>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-4">
                <i class="fa fa-desktop"></i>
            </div>
            <div class="col-md-4">
                <p><i>@{{user.username}}</i></p>
            </div>
            <div class="col-md-4">
                <form class="navbar-form" role="search" action="{% url 'profiles:search_results'%}">
                    <input type="text" class="form-control" placeholder="Search username" name="profile"></input>
                    <button class="btn btn-outline-dark bt-sm" style="margin-left: 150px;" type="submit"><i class="fa fa-search" style="color: rgb(64, 87, 190);"></i>Search</button>
                </form>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-5">
                <img src="{{profile.profile_pic.url}}" class="rounded" alt="profile image" height="315" width="420">
                <p>{{profile.user.first_name}}</p>
            </div>
            <div class="col-md-5">
                <h4><i>@{{user.username}}</i></h4>
                <p>{{profile.bio}}</p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <p><a href="{% url 'profiles:posts' profile.id %}">Posts</a></p>
            </div>
            <div class="col-md-4">
                <p>Followers:0</p>
            </div>
            <div class="col-md-4">
                <p>Following:</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <i class="fas fa-camera" style="font-size:120px;color:#2196F3"></i>
                <p>Share Photos</p>
                <p>Your shared photos will be appear on your profile</p>
            </div>
            <div class="col-md-4">
                <a href="{% url 'profiles:upload' %}" class="btn btn-primary">Upload Image</a>
            </div>
            <div class="'col-md-4">
                
            </div>
        </div>
        <div class="row" style="margin-bottom: 50px;">
            
        </div>
    </div>
{% endblock %}